.container{
    width: 100%;
    text-align: center;
    padding: 30px 20px;
}

#output{
    font-size: 16px;
    font-family: 'Sans';
    text-align: left;
    margin: 20px auto;
    max-width: 1000px;
}
