.container{
    width: 100%;
    text-align: center;
    padding: 0 20px;
}

#autoscroll{
    display: block;
    width: 200px;
    margin: 27px auto;
}

.fixed-head{
    position: fixed;
    width: 100%;
    background-color: rgba(255,255,255,0.9);
    top: 0;
    padding: 20px 0;
}

#output{
    font-size: 16px;
    font-family: 'Sans';
    text-align: left;
    margin: 20px auto;
    max-width: 1000px;
    padding: 134px 0 0;
}
