[submodule "templates/wordpress"]
	path = templates/wordpress
	url = https://github.com/barreiros/GorillaJS-Wordpress
    branch = master
[submodule "templates/django"]
	path = templates/django
	url = https://github.com/barreiros/GorillaJS-Django
    branch = master
[submodule "templates/proxy"]
	path = templates/proxy
	url = https://github.com/barreiros/GorillaJS-Proxy
    branch = master
[submodule "templates/html5"]
	path = templates/html5
	url = https://github.com/barreiros/GorillsJS-HTML5
[submodule "templates/opencart"]
	path = templates/opencart
	url = https://github.com/barreiros/GorillaJS-Opencart
[submodule "templates/common"]
	path = templates/common
	url = https://github.com/barreiros/GorillaJS-Common
[submodule "templates/nodejs"]
	path = templates/nodejs
	url = https://github.com/barreiros/GorillaJS-NodeJS
[submodule "plugins"]
	path = plugins
	url = https://github.com/barreiros/GorillaJS-Plugins
