html, body{
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.gorilla{
    width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: 50;
    background: #222;
}

.gorilla .logo{
    width: 200px;
    margin: 50px auto;
}

.gorilla .logo img{
    width: 100%;
}

.gorilla .message{
    color: white;
    font-size: 50px;
    font-family: Arial Black;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

canvas.sketch{
    position: absolute;
    z-index: 100;
}


