<html>
    <head>

        <!-- <link rel="stylesheet" type="text/css" href="/gorilla&#45;maintenance/static/css/main.css"> -->
        <link rel="stylesheet" type="text/css" href="static/css/main.css">

    </head>
    <body>

        <div class="gorilla">

            <img class="logo" src="static/img/logo_head.png" alt="GorillaJS logo"/>
            <div id="message" class="message"><b>Please, wait.</b><br />Your project is almost ready.</div>

        </div>

        <div class="progress-bar-container">

            <div class="progress-bar-centered">
            
                <div id="progress-bar"></div>

            </div>

        </div>

        <script type="text/javascript" src="/gorilla-maintenance/static/js/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="/gorilla-maintenance/static/js/progressbar.min.js"></script>
        <script type="text/javascript" src="/gorilla-maintenance/static/js/main.js"></script>
        <script type="text/javascript" src="/gorilla-maintenance/static/js/checker.js"></script>

    </body>
</html>
