<html>
    <head>

        <link rel="stylesheet" type="text/css" href="/gorilla-maintenance/static/css/main.css">

    </head>
    <body>
        
        <div class="gorilla">

            <div class="logo">
              <img src="/gorilla-maintenance/static/img/logo_head.png" alt="GorillaJS logo"/>
            </div>

            <div id="message" class="message">Hello!</div>

        </div>

        <script type="text/javascript" src="/gorilla-maintenance/static/js/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="/gorilla-maintenance/static/js/sketch.min.js"></script>
        <script type="text/javascript" src="/gorilla-maintenance/static/js/particles.js"></script>
        <script type="text/javascript" src="/gorilla-maintenance/static/js/main.js"></script>

    </body>
</html>
